# --- Python Rules ---
# Ignore the database file
finance.db

# Ignore Python cache files
__pycache__/
*.pyc

# Ignore environment folders
venv/
.env

# --- Terraform Rules (NEW) ---
# Ignore the .terraform folder (where the big binary plugins live)
**/.terraform/*

# Ignore the state file (Contains sensitive info about your infrastructure)
*.tfstate
*.tfstate.*

# Ignore your secrets file (NEVER commit this!)
*.tfvars

# Ignore crash logs
crash.log

# Note: We DO want to commit .terraform.lock.hcl (It locks your provider versions)

# Ignore the .vscode folder (where the big binary plugins live)
.vscode/*