body {
    background-color: #f4f4f9; /* Light Grey-Blue background */
    font-family: sans-serif;   /* Cleaner, modern text font */
    text-align: center;        /* Center everything */
}

h1 {
    color: #2c3e50;            /* Dark Blue text for the header */
}