name: Deploy to AWS

# Trigger: Run this whenever we PUSH to the "main" branch
on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Code
      uses: actions/checkout@v3

    - name: Deploy to EC2
      uses: appleboy/ssh-action@master
      with:
        # It reads the secrets you stored in the Vault
        host: ${{ secrets.EC2_HOST }}
        username: ec2-user
        key: ${{ secrets.EC2_SSH_KEY }}
        script: |
          # These are the SAME commands you used to type manually!
          cd InternalFinanceSystem
          git pull origin main
          docker build -t finance-app .
          docker stop $(docker ps -q) || true
          docker run -d -p 5000:5000 finance-app