name: Build and Deploy

on:
  push:
    branches: [ main ]

jobs:
  # JOB 1: BUILD the image and save it to Docker Hub
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Login to Docker Hub
      uses: docker/login-action@v1
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Build and push Docker image
      uses: docker/build-push-action@v2
      with:
        context: .
        push: true
        # UPDATED: Using your correct username 'praveenkumarilla459'
        tags: praveenkumarilla459/internal-finance-system:latest

  # JOB 2: DEPLOY the image to the AWS Server
  deploy:
    runs-on: ubuntu-latest
    needs: build  # Wait for build to finish
    steps:
    - name: Create PEM file
      run: |
        echo "${{ secrets.EC2_SSH_KEY }}" > private_key.pem
        chmod 600 private_key.pem

    - name: Deploy to EC2
      run: |
        # Connect to the server
        ssh -o StrictHostKeyChecking=no -i private_key.pem ec2-user@${{ secrets.EC2_HOST }} '
          
          # 1. Login to Docker Hub on the server (Fixes Access Denied)
          echo "${{ secrets.DOCKER_PASSWORD }}" | sudo docker login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin

          # 2. Stop the old container
          sudo docker stop finance-app || true
          sudo docker rm finance-app || true
          
          # 3. Clean up space
          sudo docker system prune -f
          
          # 4. Pull the NEW image (using the correct username)
          sudo docker pull praveenkumarilla459/internal-finance-system:latest
          
          # 5. Run the new container
          sudo docker run -d -p 5000:5000 --name finance-app praveenkumarilla459/internal-finance-system:latest
        '