name: Deploy to AWS

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Create PEM file
      run: |
        echo "${{ secrets.EC2_SSH_KEY }}" > private_key.pem
        chmod 600 private_key.pem

    - name: Deploy to EC2
      run: |
        # The flag -o StrictHostKeyChecking=no tells SSH to trust the new server blindly
        ssh -o StrictHostKeyChecking=no -i private_key.pem ec2-user@${{ secrets.EC2_HOST }} '
          
          # 1. Stop the old container (if running)
          sudo docker stop finance-app || true
          sudo docker rm finance-app || true
          
          # 2. Clean up old images to save disk space
          sudo docker system prune -f
          
          # 3. Pull the latest code
          sudo docker pull praveenkumarilla4git/internal-finance-system:latest
          
          # 4. Start the new container
          sudo docker run -d -p 5000:5000 --name finance-app praveenkumarilla4git/internal-finance-system:latest
        '